* {
    font-family: Mononoki Nerd Font;
    font-size: 13px;
}

@define-color primary #a7c080;
@define-color foreground #d3c6aa;

@define-color background #2d353b;
@define-color background-alt #343f44;


window#waybar {
    background-color: @background;
    color: @foreground;
    border: 3px solid @background-alt;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}


#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
}

#workspaces button.focused {
    color: @background;
    background: @primary;
}

#workspaces button.urgent{
    color: #e67e80;
}

#mode {
    color: @primary;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-xbps-updates,
#mpd {
    padding: 0 10px;
    color: @primary;
}

#window,
#workspaces {
    margin: 0 4px;
}
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

