{
    "sway/scratchpad": {
	"format": " {count}",
	"max-length": 50
    },
    "clock": {
        "format": "󰥔 {:%H:%M}", 
	"format-alt": "󰃭 {:%d/%m/%y}"
    },
    "group/hardware": {
	"orientation": "horizontal",
	"modules": [
	    "temperature",
	    "memory",
	    "cpu"
	]
    },
    "cpu": {
	"interval": 10,
	"format": "  {usage}%"
    },
    "memory": {
	"interval": 10,
	"format": "   {used}GiB "
    },
    "temperature": {
	{{ if eq .chezmoi.hostname "VoidTop" }}
	"hwmon-path": "/sys/class/hwmon/hwmon1/temp1_input",
	{{ else }}
	"thermal-zone": "thermal_zone0",
	{{ end }}
	"format": "{icon} {temperatureC}°C",
	"format-icons": ["", "", "", ""]
    },
    "power-profiles-daemon": {
        "format": "{icon}  {profile}",
        "tooltip-format": "Power profile: {profile}\nDriver: {driver}",
        "tooltip": true,
        "format-icons": {
            "default": "󰾅",
            "performance": "󰓅",
            "balanced": "󰾅",
            "power-saver": "󰾆"
        }     
    },
    "mpd": {
	"max-len": "30",
        "format": "{stateIcon} {artist} - {title} 󰎈",
        "format-disconnected": "Disconnected 󰎈",
        "format-stopped": "Stopped 󰎈",
        "unknown-tag": "N/A",
        "on-click": "mpc toggle",
	"on-click-right": "mpc next",
	"interval": 2,
        "repeat-icons": {
            "on": "󰑖 "
        },
        "single-icons": {
            "on": "󰑘 "
        },
        "state-icons": {
            "playing": "󰏤",
            "paused": "󰐊"
        },
        "tooltip-format": "MPD (connected)",
        "tooltip-format-disconnected": "MPD (disconnected)"
    },
    "custom/theme-switcher": {
	"format": "󰔎",
	"on-click": "~/.local/bin/theme_switcher toggle"
    },
    "custom/xbps-updates": {
        "exec": "~/.local/bin/update -l",
        "on-click": "alacritty -e fish -c 'xbps-updates -d && sudo xbps-install -Suv'",
        "interval": "100",
        "format": "󱧕 {}",
        "signal": 8
    },
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "󰅶",
            "deactivated": "󰾪"
        }
    },
    "wireplumber": {
        "format": "{icon} {volume}%",
	"max-volume": 100,
        "format-muted": "󰝟",
        "format-icons": {
            "headphone": "󰋋",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["󰕿", "󰖀", "󰕾"]
        },
        "on-right-click": "foot -e alsamixer",
	"on-click": "pactl set-sink-mute @DEFAULT_SINK@ toggle"
    },
    "backlight": {
        "format": "{icon} {percent}%",
        "format-icons": ["󰃚", "󰃛", "󰃜", "󰃝", "󰃞", "󰃟", "󰃠"]
    },
    "battery": {
	"states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{icon} {capacity}%",
	"format-icons": ["󰁺","󰁻","󰁼","󰁽","󰁾","󰁿","󰂀","󰂁","󰁹"],
	"format-charging": "󰂄 {capacity}%",
        "format-plugged": "󰂏 {capacity}%",
        "format-alt": "{time} {icon}"
    },
    "network": {
	"interval": "10",
        "format-wifi": "{icon} {essid} ({signalStrength}%)",
        "format-ethernet": "󰈀 {ipaddr}",
        "tooltip-format": "{ipaddr} via {gwaddr}",
        "format-disconnected": "󰤭 Disconnected",
        "format-alt": "{ifname}: {ipaddr}/{cidr}",
	"format-icons": ["󰤯","󰤟","󰤢","󰤥","󰤨"]
    },
    "network#vpn": {
	"interval": "10",
	"interface": "tun0",
        "format-wifi": "󰦝 VPN",
        "format-ethernet": "󰦝 VPN",
	"format-disconnected": ""
    },
    "tray": {
        "spacing": 10
    },
    "custom/seperator#c0": {
	"format": "",
        "tooltip": false
    },
    "custom/seperator#c1": {
	"format": "",
        "tooltip": false
    },
    "custom/seperator#l0": {
	"format": "",
        "tooltip": false
    },
    "custom/seperator#l1": {
	"format": "",
        "tooltip": false
    },
    "custom/seperator#l2": {
	"format": "",
        "tooltip": false
    },
    "custom/seperator#l3": {
	"format": "",
        "tooltip": false
    },
    "custom/seperator#l4": {
	"format": "",
        "tooltip": false
    },
    "custom/seperator#r0": {
	"format": "",
        "tooltip": false
    },
    "custom/seperator#r1": {
	"format": "",
        "tooltip": false
    },
    "custom/seperator#r2": {
	"format": "",
        "tooltip": false
    },
    "custom/seperator#r3": {
	"format": "",
        "tooltip": false
    }
}
