* {
   font-family: Mononoki Nerd Font;
    font-size: 13px;
}
@import url('colors/everforest-dark.css');

/* Bar Settings */
window#waybar {
    background-color: @bg0;
    color: @fg;
}
button {
    box-shadow: inset 0 -0.25rem transparent;
    border: none;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Module Defaults */
#clock,
#memory,
#temperature,
#cpu,
#battery,
#backlight,
#network,
#network.vpn,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-xbps-updates,
#custom-theme-switcher,
#power-profiles-daemon,
#mpd {
    padding: 0 0.8rem;
    color: @gray2;
}

/* Left Modules */
#workspaces {
    padding-left: 0.8rem;
    margin-right: 0;
    background-color: @red;
}

#workspaces button {
    padding: 0 0.2rem;
    background-color: @red;
    color: @bg0;
    transition: none;
}

#workspaces button.focused, 
#workspaces button.active {
    color: @bg0;
    background:  @red;
    border-bottom: 0.25rem solid @bg_red;
    padding-top: 0.25rem;
    font-weight: bold;
}
#workspaces button.urgent{
    color: @bg0;
    background-color: @red;
    border-bottom: 0.25rem solid @yellow;

}
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
#scratchpad, #mode {
    color: @bg1;
    background-color: @red;
    border-bottom: 3px solid @red;
    margin: 0;
}

#clock {
    margin: 0; 
    background-color: @bg3;
}

#cpu, #memory, #temperature {
    background-color: @bg2;
}

#memory {
    margin: 0;
}

#power-profiles-daemon {
    background-color: @bg1;
    margin-left: 0;
    margin-right: 0;
}


/* Center Modules */
#mpd {
    color: @bg0;
    background-color: @blue;
    margin: 0;
}

/* Right Modules */
#custom-theme-switcher, #custom-xbps-updates, #idle_inhibitor{
    background-color: @bg1;
}

#custom-theme-switcher {
    margin-left: 0;
}

#wireplumber, #backlight {
    background-color: @bg2;
}

#wireplumber {
    margin-left: 0;
}

#battery {
    margin-left: 0;
    margin-right: 0;
    background-color: @bg3;
}

#network, #network.vpn, #tray {
    background-color: @green;
    color: @bg0;
}

#network {
    margin-left: 0;
}


/* All Seperators */
#custom-seperator {
    font-size: 2rem;
    margin-left: 0;
    margin-bottom: -0.25rem;
    margin-right: 0;
}

/* Left Seperators */
#custom-seperator.l0 {
    color: @red;
    background-color: @bg0;
}
#custom-seperator.l1 {
    color: @bg3;
    background-color: @red;
}
#custom-seperator.l2 {
    color: @bg2;
    background-color: @bg3;
}
#custom-seperator.l3 {
    {{ if eq .chezmoi.hostname "voidtop" }}
    color: @bg0;
    {{ else }}
    color: @bg1;
    {{ end }}
    background-color: @bg2;
}
#custom-seperator.l4 {
    color: @bg0;
    background-color: @bg1;
}

/* Center Seperators*/
#custom-seperator.c0 {
    color: @blue;
    background-color: @bg0;
}
#custom-seperator.c1 {
    color: @bg0;
    background-color: @blue;
}

/* Right Seperators */
#custom-seperator.r0 {
    color: @bg1;
    background-color: @bg0;
}
#custom-seperator.r1 {
    color: @bg2;
    background-color: @bg1;
}
#custom-seperator.r2 {
    {{ if eq .chezmoi.hostname "voidtop" }}
    color: @green;
    {{ else }}
    color: @bg3;
    {{ end }}
    background-color: @bg2;
}
#custom-seperator.r3 {
    color: @green;
    background-color: @bg3;
}
