music_directory		"~/music"
bind_to_address 	"127.0.0.1"
playlist_directory	"~/.mpd/playlists"
db_file			"~/.mpd/database"
log_file		"~/.mpd/log"
pid_file		"~/.mpd/pid"
state_file		"~/.mpd/state"
sticker_file		"~/.mpd/sticker.sql"
auto_update		"yes"
audio_output {
	type		"pipewire"
	name		"cans"
}
audio_output {
    type		"fifo"
    name		"my_fifo"
    path		"/tmp/mpd.fifo"
    format 		"44100:16:2"
}


replaygain	"off"
