music_directory		"~/music"
bind_to_address 	"127.0.0.1"
playlist_directory	"~/.mpd/playlists"
db_file			"~/.mpd/database"
log_file		"~/.mpd/log"
pid_file		"~/.mpd/pid"
state_file		"~/.mpd/state"
sticker_file		"~/.mpd/sticker.sql"
auto_update		"yes"
audio_output {
{{ if eq .chezmoi.hostname "voidtop" }}
	type		"alsa"
{{else}}
	type		"pipewire"
{{ end }}
	name		"cans"
}

replaygain	"off"
