@define-color bg_dim #efebd4;
@define-color bg0 #fdf6e3;
@define-color bg1 #f4f0d9;
@define-color bg2 #efebd4;
@define-color bg3 #e6e2cc;
@define-color bg4 #e0dcc7;
@define-color bg5 #bdc3af;
@define-color gray0 #a6b0a0;
@define-color gray1 #939f91;
@define-color gray2 #829181;
@define-color fg #5c6a72;

@define-color red #f85552;
@define-color orange #f57d26;
@define-color yellow #dfa000;
@define-color green #8da101;
@define-color blue #3a94c5;
@define-color aqua #35a77c;
@define-color purple #df96ba;

@define-color bg_red #fbe3da;
@define-color bg_orange #eaedc8;
@define-color bg_yellow #faedcd;
@define-color bg_green #f0f1d2;
@define-color bg_blue #e9f0e9;
